<main role="main" class="flex-shrink-0" style="padding:100px ;">
    <div class="container" >
        <div class="row p-l" name="feed"> 
            <div class="col-sm-12">
      <a href="#"><strong>{{community}}</strong></a>
      <h3>{{question}}</h3>
      <div class="row" style="margin-top: 1em;">
        <div class="col-sm-12">
          <div class="input-group" [formGroup]="questionForm">
            <textarea formControlName="answerBox" placeholder="Your answer" class="form-control" aria-label="With textarea"></textarea>
            <div class="input-group-prepend">
              <span class="input-group-text" (click)="addAnswer()">Submit</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2em;">
        <div class="col-sm-12">
          <!-- <h4 *ngIf="comments.length > 0">{{comments.length}} answers</h4> -->
      </div>
      </div>
      <div class="row">
          <div class="col-sm-12" *ngFor="let comment of comments">
            <p>{{comment.message}}</p>
            <p class="text-right">
                <button class="btn-primary btn-sm">{{comment.votes}} Likes</button>
              </p>
              <hr />
          </div>
      </div>
      </div>
    </div>
    </div>
  </main>
