<main role="main" class="flex-shrink-0" style="padding:100px ;">
    <div class="container" >
        <div class="row p-l" name="feed"> 
            <div class="col-sm-12">
      <a href="#"><strong>{{feeds.community}}</strong></a>
      <h3>{{feeds.question}}</h3>
      <div class="row" style="margin-top: 1em;">
        <div class="col-sm-12">
          <div class="input-group">
            <textarea placeholder="Your answer" class="form-control" aria-label="With textarea"></textarea>
            <div class="input-group-prepend">
              <span class="input-group-text">Submit</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2em;">
        <div class="col-sm-12">
          <h4 *ngIf="feeds.total > 0">{{feeds.total}} answers</h4>
      </div>
      </div>
      <div class="row">
          <div class="col-sm-12" *ngFor="let comment of feeds.comments">
            <p>{{comment.output}}</p>
            <p class="text-right">
                <button class="btn-primary btn-sm">{{comment.likes}} Likes</button>
              </p>
              <hr />
          </div>
      </div>
      </div>
    </div>
    </div>
  </main>
